@media screen and (max-width: 600px) {
    .AnimeActionCoverC {
        height: 1in;
        width: 90%;
    }

    .AnimeActionsC {
        gap: 10px;
    }

    #AnimeActionPicture {
        height: 150px;
        width: 125px;
    }
}
