@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(33, 33, 33);
    overflow: hidden;
}

section {
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    min-height: fit-content;
}


/* ----- HOMEPAGE ----- */

    /* -- Background Slideshow -- */
    .homepage-background-img-container {
        position: fixed;
        z-index: 0; 
        width: 100%;
        height: 100%;
    }

    .homepage-background-img-container .img-slides {
        width: 100%;
        height: 100%;
    }

    /* -- Homepage Box -- */
    .homepage-container-box {
        position: relative;
        margin: auto;
        background-color: rgba(34, 33, 33, .8);
        border: none;
        border-radius: 50px;
        top: 10%;
        width: 70%;
        height: 80%;
    }

    .homepage-msg-container h1 { 
        position: relative;
        display: block;
        padding-top: 5%;
        font-size: 500%;
        text-align: center;
        color: #FFE500;

        /*Animation for glow effect*/
        animation: glow 1s ease-in-out infinite alternate;
    }

        /*.homepage-msg-container h1 GLOWING ANIMATION*/
        @keyframes glow {
            from { 
                text-shadow: 0 0 10px #FFE500, 
                0 0 20px #FFE500, 
                0 0 30px #FFE500, 
                0 0 40px #FFE500, 
                0 0 50px #FFE500; 
            } 
            
            to { 
                text-shadow: 0 0 20px #FFE500, 
                0 0 30px #FFE500; 
            }
        }

    .homepage-msg-container h3 {
        display: block;
        position: relative;
        padding-top: 5%;
        font-size: 30px;
        text-align: center;
        color: white;
    }

    /* -- Hompage Buttons -- */
    .button-container-row1 {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 50px;
    }

    .button-container-row2 {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 100px;
    }

    .button-container-row1 button {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        border-radius: 50px;
        height: 70px;
        width: 300px;
    }

    .button-container-row2 button {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        border-radius: 50px;
        height: 70px;
        width: 300px;
    }

    .button-container-row1 img {
        position: relative;
        height: 40px;
        width: 40px;
    }

    .button-container-row2 img {
        position: relative;
        height: 40px;
        width: 40px;
    }
    
    .button-container-row1 p {
        position: relative;
        font-size: 35px;
        color: white;
    }

    .button-container-row2 p {
        position: relative;
        font-size: 35px;
        color: white;
    }

    .button-container-row1 .btn1 {
        background-color: #FF3131;
        transition: .5s;
    }
    
    .button-container-row1 .btn1:hover {
        box-shadow: 0px 0px 20px 20px #FF3131;
    }

    .button-container-row1 .btn2 {
        background-color: #00BF63;
        transition: .5s;
    }

    .button-container-row1 .btn2:hover {
        box-shadow: 0px 0px 20px 20px #00BF63;
    }

    .button-container-row1 .btn3 {
        background-color: #FF84E8;
        transition: .5s;
    }

    .button-container-row1 .btn3:hover {
        box-shadow: 0px 0px 20px 20px #FF84E8;
    }

    .button-container-row2 .btn4 {
        background-color: #8C52FF;
        transition: .5s;
    }
    
    .button-container-row2 .btn4:hover {
        box-shadow: 0px 0px 20px 20px #8C52FF;
    }

    .button-container-row2 .btn5 {
        background-color: #FFE500;
        transition: .5s;
    }

    .button-container-row2 .btn5:hover {
        box-shadow: 0px 0px 20px 20px #FFE500;
    }
