@media screen and (max-width: 1440px) {
    section {
        height: 100vh;
    }

    /* -- Homepage Background -- */

    .homepage-background-img-container .img-slides {
        height: 1007px;
    }
}

@media screen and (max-width: 1024px) {
    section {
        height: 100vh;
    }
    
    /* -- Homepage Background -- */

    .homepage-background-img-container .img-slides {
        height: 869px;
    }
}

@media screen and (max-width: 768px) {
    section {
        height: 100vh;
    }

    /* -- Homepage Background -- */

    .homepage-background-img-container .img-slides {
        height: 652px;
    }
}