@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #101010;
}

/* Action Genre Anime */
#ActionAnime {
  margin-top: 0.5in;
  margin-bottom: 1in;
}

.AnimeActionCoverC {
  background-image: url("./Assets/Actions/actionGIF.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 2in;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
}

#Genre {
  color: white;
  font-family: "Impact";
  font-size: 100px;
}

#AnimeActionPicture {
  height: 300px;
  width: 205px;
  transition-duration: 0.5s;
}

#AnimeActionPicture:hover {
  height: 320px;
  width: 225px;
}

.AnimeActionsC {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5in;
  text-align: center;
}

.AnimeActionC #AnimeActionPicture {
  cursor: pointer;
}

.AnimeActionC {
  height: 350px;
  transition-duration: 0.5s;
}

.AnimeActionC a {
  color: white;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
}

.AnimeActionC a:hover {
  color: yellow;
}

/* Navigation Bar */

#NavBar {
  top: 0;
  position: sticky;
  height: 0.75in;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.NavBarLinks {
  list-style: none;
  display: flex;
  gap: 0.25in;
}

.WebsiteName a,
.NavBarLinks a {
  color: black;
  padding: 10px 15px;
  transition-duration: 0.5s;
}

.NavBarLinks a:hover {
  color: white;
  background-color: darkorange;
}

#HamburgerNav {
  height: 30px;
  cursor: pointer;
}

/* Closed Navigation Bar */

#NavBar .ToggleButton {
  display: none;
}

.DropdownMenu {
  display: none;
  position: absolute;
  right: 1rem;
  width: 300px;
  height: 0;
  overflow: hidden;
}

/* Navigation Bar Open */

.DropdownMenu.open {
  height: unset;
  background-size: 100%;
  align-items: center;
  border-radius: 10% 10%;
  cursor: pointer;
  background-color: orange;
}

.DropdownMenu li {
  list-style: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

.DropdownMenu a {
  color: black;
  transition-duration: 0.5s;
}

.DropdownMenu a:hover {
  color: white;
}

footer {
  background-color: orange;
  height: 0.75in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer1stContainer {
  display: flex;
  gap: 0.5in;
  margin-bottom: 5px;
}

.Footer1stContainer a {
  color: black;
  padding: 10px 15px;
  transition-duration: 0.5s;
}

.Footer1stContainer a:hover {
  color: white;
  background-color: darkorange;
}

footer, .Footer1stContainer .Footer2ndContainer {
  display: flex;
  flex-direction: column;
}

.Footer2ndContainer p {
  margin-top: 5px;
  font-family: "Arial";
}
